{% extends "teachers/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
		<div class ="row">
			<iframe  style="margin-left: auto;margin-right: auto;display: block;padding:50px;" width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLI98ldh71gt5hqQ76M_Zbq5RBC1UsqYi-" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		<div class="row">
			<p>
				We provide schools with comprehensive early childhood kit comprising fun, safe durable learning materials and age appropriate student workbooks.We have a year long teacher training and program  support model to ensure developmentally appropriate practices in classroom.We work with parents to build awareness on helping children better in their home environment through targeted workshops and home activity sheets.
			</p>
		</div>
		</div>
{% endblock content %}
