{% extends "teachers/base.html" %}
{% block content %}
    <h2 class="container">Here's the list of queries with their details!</h2>
    <div style="padding-left:900px">
      <a href="{% url 'query-create' %}" class="btn btn-secondary btn-sm mt-1 mb-1" style="background-color:grey">Add new >></a>
      </div>
    <form action="" style="padding-top:20px">
      <input type="text" placeholder="Search.." name="search" id="search" value="{{search_term}}">
    </form>

   <style>
  input[type=text] {
  width: 120px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 8px 10px 12px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}
</style>

<table class="table" style="padding-top:100px">
    <thead>
      <tr>
        <th>Teacher</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
    {% for query in queries %}
      <tr>
        <td>{{ query.teacher }}</td>
        <td><a class="article-title" href="{% url 'query-detail' query.id %}">{{ query.title }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    </div>
{% endblock content %}