{% extends "teachers/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container" style="margin-top: 60px;">
	<div class="row">
		<div class="col-12 col-sm-6">
	<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'teachers/onlinetestcard.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Test 1</h5>
    <p class="card-text">This test would enhance your ......... skill.This can be used to track your progress.</p>
    <a href="#" class="btn btn-warning">Go to Test1</a>
        <br>
    <br>
      <form method="POST">
      {% csrf_token %}
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit" name="test_1">
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>
    </div>
  </form>
  </div>
</div>
</div>
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'teachers/onlinetestcard.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Test 2</h5>
    <p class="card-text">This test would enhance your ......... skill.This can be used to track your progress.</p>
    <a href="#" class="btn btn-warning">Go to Test2</a>
        <br>
    <br>
    <form method="POST">
      {% csrf_token %}
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit" name="test_2">
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>
    </div>
  </form>
  </div>
</div>
</div>
<br>
<br>
<br>
	<div class="row">
		<div class="col-12 col-sm-6">
	<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'teachers/onlinetestcard.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Test 3</h5>
    <p class="card-text">This test would enhance your ......... skill.This can be used to track your progress.</p>
    <a href="#" class="btn btn-warning">Go to Test3</a>
        <br>
    <br>
    <form method="POST">
      {% csrf_token %}
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit" name="test_3">
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>
    </div>
  </form>
  </div>
</div>
</div>
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{% static 'teachers/onlinetestcard.png' %}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Test 4</h5>
    <p class="card-text">This test would enhance your ......... skill.This can be used to track your progress.</p>
    <a href="#" class="btn btn-warning">Go to Test4</a>
    <br>
    <br>
        <form method="POST">
      {% csrf_token %}
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit" name="test_4">
        <i class="fa fa-check" aria-hidden="true"></i>
      </button>
    </div>
  </form>
  </div>
</div>
</div>
</div>
</div>
<br>
<br>
{% endblock content %}